<div class="container">
  <%= cl_image_tag @list.photo.key, height: 300, width: 400, crop: :fill %>
  <h1><%= @list.name %></h1>
  <% @list.bookmarks.each do |bookmark| %>
    <div>
      <%= bookmark.movie.title %>
      <%= bookmark.comment %>
    </div>
  <%= link_to "Delete bookmark", bookmark_path(bookmark), method: :delete  %>
  <% end %>
  <br>
  <%= link_to "+Add a bookmark", new_list_bookmark_path(@list) %>
</div>

<%= link_to 'Back to list', lists_path %>
